{% extends 'form.html' %}
{% load bootstrap3 %}

{% block delete %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <form action="" method="post" enctype="multipart/form-data">
      <div class="panel-body">
        {% csrf_token %}

        <select class="form-control selectpicker" name="members"
                required multiple data-live-search="true" title="Select issues to add to this checklist...">
          {% for member in form.members.field.queryset.all %}
            <option value="{{ member.pk }}" {% if member in form.initial.members %}selected{% endif %}>
              {{ member }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="panel-footer">
        <button type="submit" class="btn btn-success pull-right">Save</button>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
{% endblock %}
