{% extends 'base.html' %}


{% block title %}
  {{ project.name }}
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        {% if membership.is_administrator %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Members</a></li>
              <li><a href="{{ project.get_update_url }}">Edit</a></li>
            </ul>
          </div>
        {% endif %}
      </div>

      <h1 class="page-header">
        {{ project.name }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <a href="#" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span> New Issue</a>
      </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Issues</a></li>
        <li role="presentation"><a href="#">Tags</a></li>
        <li role="presentation"><a href="#">Milestones</a></li>
      </ul>
    </div>
  </div>

  <div class="row row-vspace">
    <div class="col-sm-12">
      <div class="jumbotron text-center">
        <h1>No issues!</h1>
        <p>Your project is empty, maybe you would want to add an issue?</p>
        <a href="#" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span> New Issue</a>
      </div>
    </div>
  </div>
{% endblock %}
