<div class="row">
  <div class="col-sm-12">
    <div class="btn-group" role="group">
      {% if issue.closed %}
        <a href="{{ issue.get_open_url }}" class="btn btn-default">
          Open Issue
        </a>
      {% else %}
        <a href="{{ issue.get_close_url }}" class="btn btn-default">
          Close Issue
        </a>
      {% endif %}

      <a href="{% url 'comments:comment_create' issue.pk %}" class="btn btn-default load-modal"
         title="Post a Comment">
        Post a Comment
      </a>
    </div>
  </div>
</div>