{% extends 'projects/project_base.html' %}


{% block title %}
  {{ project.name }}
{% endblock %}


{% block action_button %}
  <!-- Open/Closed Issues Buttons -->
  <div class="btn-group" role="group">
    {% if request.path == project.get_issue_list_url %}
      <a href="{{ project.get_issue_list_url }}" class="btn btn-default active">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    {% else %}
      <a href="{{ project.get_issue_list_url }}" class="btn btn-default">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    {% endif %}

    {% if request.path == project.get_closed_issue_list_url %}
      <a href="{{ project.get_closed_issue_list_url }}" class="btn btn-default active">
        <span class="glyphicon glyphicon-eye-close"></span>
      </a>
    {% else %}
      <a href="{{ project.get_closed_issue_list_url }}" class="btn btn-default">
        <span class="glyphicon glyphicon-eye-close"></span>
      </a>
    {% endif %}
  </div>

  <a href="{% url 'issues:issue_create' project.pk %}" class="btn btn-success load-modal" title="New Issue">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="hidden-xs">New Issue</span>
  </a>
{% endblock %}


{% block content %}
  <div class="row row-vspace">
    <div class="col-sm-12">
      {% if issue_list.count == 0 %}
        <div class="jumbotron text-center">
          <h1>No issues here!</h1>
          <p>Maybe you would want to add one?</p>
          <a href="{% url 'issues:issue_create' project.pk %}" class="btn btn-success load-modal" title="New Issue">
            <span class="glyphicon glyphicon-plus"></span> New Issue</a>
        </div>
      {% else %}
        {% include 'issues/_issue_list.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
