{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
  {{ issue.name }}
{% endblock %}


{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ issue.project.get_absolute_url }}" class="no-underline">
          <h4 class="header-collapse text-muted text-uppercase">
            <span class="glyphicon glyphicon-arrow-left step"></span> {{ issue.project }}</h4>
        </a>
      </div>
    </div>
  </div>

  <div class="container container-collapse">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {% if issue.owner == user %}
            <a href="{{ issue.get_update_url }}" class="btn btn-primary load-modal" title="Edit Issue">
              <span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </div>

        <h2 class="header-collapse">{{ issue.name }}
          <small>#{{ issue.index }}</small>
        </h2>
      </div>
    </div>
  </div>

  <div class="middle-container">
    <div class="container container-collapse">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            {% include 'issues/_tags_btn.html' %}
          </div>

          {% if issue.tags.count == 0 %}
            <span class="label label-default">no tags</span>
          {% endif %}

          {% for tag in issue.tags.all %}
            <span class="label" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="row row-vspace">
        <div class="col-sm-12">
          <div class="panel panel-default">
            {% if issue.description %}
              <div class="panel-body">
                {{ issue.description|linebreaksbr }}
              </div>

              <div class="panel-footer">
                <strong>{{ issue.owner.username }}</strong>,
                issued on
                <i>{{ issue.create_date }}</i>
              </div>
            {% else %}
              <div class="panel-body">
                <strong>{{ issue.owner.username }}</strong>,
                issued on
                <i>{{ issue.create_date }}</i>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% if issue.comment_set.count == 0 %}
          <div class="alert alert-info">
            No comments so far...
          </div>
        {% endif %}

        {% include 'issues/_comments.html' %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% if issue.issuestate_set.count > 0 %}
          <ul class="list-group">
            {% for state in issue.issuestate_set.all %}
              <li class="list-group-item">
                {% if state.closed %}
                  <span class="glyphicon glyphicon-eye-close text-danger step"></span> Closed
                {% else %}
                  <span class="glyphicon glyphicon-eye-open text-muted step"></span> Opened
                {% endif %}
                by <strong>{{ state.owner }}</strong>,
                on {{ state.create_date }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group" role="group">
          {% if issue.closed %}
            <a href="{{ issue.get_open_url }}" class="btn btn-default">
              Open Issue
            </a>
          {% else %}
            <a href="{{ issue.get_close_url }}" class="btn btn-default">
              Close Issue
            </a>
          {% endif %}

          <a href="{% url 'comments:comment_create' issue.pk %}" class="btn btn-default load-modal"
             title="Post a Comment">
            Post a Comment
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();

      var tagsPopoverContent = $('#tagsPopoverContent');

      $('#tagsPopover').attr('data-content', tagsPopoverContent.html());
      tagsPopoverContent.remove();
    })
  </script>
{% endblock %}
