{% extends 'base.html' %}
{% load bootstrap3 %}
{% load urlfy %}
{% load markup %}


{% block title %}
  {{ issue.name }}
{% endblock %}


{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ issue.project.get_absolute_url }}" class="no-underline">
          <h4 class="header-collapse text-muted text-uppercase">{{ issue.project }}</h4>
        </a>
      </div>
    </div>
  </div>

  <div class="container container-collapse">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {% if issue.owner == user %}
            <a href="{{ issue.get_update_url }}" class="btn btn-primary load-modal" title="Edit Issue">
              <span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </div>

        <h2 class="header-collapse">{{ issue.name }}
          <small>#{{ issue.index }}</small>
        </h2>
      </div>
    </div>
  </div>

  <div class="middle-container">
    <div class="container container-collapse">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            {% include 'issues/_tags_btn.html' %}
          </div>

          {% if issue.tags.count == 0 %}
            <span class="label label-default">no tags</span>
          {% endif %}

          {% for tag in issue.tags.all %}
            <span class="label" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="row row-vspace">
        <div class="col-sm-12">
          <div class="panel panel-default">
            {% if issue.description %}
              <div class="panel-body">
                {{ issue.description|urlfy|markdown:'markdown.extensions.fenced_code' }}
              </div>

              <div class="panel-footer">
                <strong>{{ issue.owner.username }}</strong>,
                issued on
                <i>{{ issue.create_date|date:'Y.m.d H:m' }}</i>
              </div>
            {% else %}
              <div class="panel-body">
                <strong>{{ issue.owner.username }}</strong>,
                issued on
                <i>{{ issue.create_date|date:'Y.m.d H:m' }}</i>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% include 'issues/_action_buttons.html' %}

    <div class="row row-vspace2">
      <div class="col-sm-12">
        {% if issue.event_set.count == 0 %}
          <div class="alert alert-info">
            No events related to this issue so far...
          </div>
        {% endif %}

        {% for event in issue.event_set.all %}
          {% if event.comment %}
            {% with event.comment as comment %}
              {% include 'comments/_comment.html' %}
            {% endwith %}
          {% endif %}

          {% if event.state %}
            {% with event.state as state %}
              {% include 'issues/_state.html' %}
            {% endwith %}
          {% endif %}

          {% if event.pin %}
            {% with event.pin as pin %}
              {% include 'issues/_pin.html' %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% if issue.event_set.count > 0 %}
      {% include 'issues/_action_buttons.html' %}
    {% endif %}
  </div>
{% endblock %}


{% block script %}
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();

      var tagsPopoverContent = $('#tagsPopoverContent');

      $('#tagsPopover').attr('data-content', tagsPopoverContent.html());

      tagsPopoverContent.remove();
    });
  </script>
{% endblock %}
