{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}
  {{ issue.name }}
{% endblock %}


{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="{{ issue.project.get_absolute_url }}" class="no-underline">
          <h4 class="header-collapse text-muted text-uppercase">
            <span class="glyphicon glyphicon-arrow-left step"></span> {{ issue.project }}</h4>
        </a>
      </div>
    </div>
  </div>

  <div class="container container-collapse">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {% if issue.owner == user %}
            <a href="{{ issue.get_update_url }}" class="btn btn-primary">
              <span class="glyphicon glyphicon-pencil"></span> Edit</a>
          {% endif %}
        </div>

        <h1 class="header-collapse">{{ issue.name }}
          <small>#{{ issue.index }}</small>
        </h1>
      </div>
    </div>
  </div>

  <div class="middle-container">
    <div class="container container-collapse">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs" data-container="body" data-toggle="popover"
                      data-placement="left" data-html="true" data-content="" id="tagsPopover">
                update tags
              </button>

              <div id="tagsPopoverContent" class="hidden">
                <form action="{% url 'issues:issue_tags_update' issue.project.pk issue.pk %}"
                      style="min-width: 150px" method="post">
                  {% csrf_token %}

                  {% for checked, tag in tags %}
                    <div>
                      <input class="pull-right" name="tags" type="checkbox" {% if checked %}checked{% endif %} value="{{ tag.pk }}">

                      <span class="label back-step" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
                    </div>
                  {% endfor %}

                  <button class="btn btn-xs btn-success btn-block row-vspace">Save</button>
                </form>
              </div>
            </div>
          </div>

          {% if issue.tags.count == 0 %}
            <span class="label label-default">no tags</span>
          {% endif %}

          {% for tag in issue.tags.all %}
            <span class="label" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="row row-vspace">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              {{ issue.description|linebreaksbr }}
            </div>

            <div class="panel-footer">
              <strong>{{ issue.owner.username }}</strong>,
              issued in
              <i>{{ issue.create_date }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-collapse">
    <div class="row">
      <div class="col-sm-12">
        <h3>Comments</h3>

        {% if issue.comment_set.count == 0 %}
          <div class="alert alert-info">
            No comments so far...
          </div>
        {% endif %}

        {% for comment in issue.comment_set.all %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                {% if comment.owner == user %}
                  <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Options <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="{{ comment.get_update_url }}">Edit</a></li>
                      <li><a href="{{ comment.get_delete_url }}">Delete</a></li>
                    </ul>
                  </div>
                {% endif %}
              </div>

              <strong>{{ issue.owner.username }}</strong>,
              commented on
              <i>{{ issue.create_date }}</i>
            </div>

            <div class="panel-body">
              {{ comment.text|linebreaksbr }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Post a comment
          </div>

          <form action="{% url 'comments:comment_create' issue.pk %}" method="post">
            {% csrf_token %}

            <div class="panel-body">
          <textarea name="text" class="form-control" rows="7"
                    placeholder="Type your comment here..."></textarea>
            </div>

            <div class="panel-footer">
              <button type="submit" class="btn btn-success pull-right">Post Comment</button>

              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();

      var tagsPopoverContent = $('#tagsPopoverContent');

      $('#tagsPopover').attr('data-content', tagsPopoverContent.html());
      tagsPopoverContent.remove();
    })
  </script>
{% endblock %}