{% load markup %}
{% load urlfy %}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      {% if comment.owner == user %}
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Options <span class="caret"></span>
          </button>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{{ comment.get_update_url }}" class="load-modal" title="Edit Comment">Edit</a></li>
            <li><a href="{{ comment.get_delete_url }}">Delete</a></li>
          </ul>
        </div>
      {% endif %}
    </div>

    <strong>{{ comment.owner.username }}</strong>,
    commented on
    <i>{{ comment.create_date }}</i>
  </div>

  <div class="panel-body">
    {{ comment.text|urlfy|markdown:'markdown.extensions.fenced_code' }}
  </div>
</div>