{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}
  <h1 class="page-header">
    {% if object %}
      Edit
    {% else %}
      Create
    {% endif %}

    {% block title_name %}{% endblock %}
  </h1>

  <div class="panel panel-default">
    <form action="" method="post" enctype="multipart/form-data">
      {% block preform %}{% endblock %}

      <div class="panel-body">
        {% csrf_token %}

        {% if form.fields|length == 1 %}
          {% bootstrap_form form layout='inline' %}
        {% else %}
          {% bootstrap_form form %}
        {% endif %}
      </div>

      <div class="panel-footer">
        {% block delete %}
          {% if object.get_delete_url %}
            <a href="{{ object.get_delete_url }}" class="btn btn-danger">Delete</a>
          {% endif %}
        {% endblock %}

        <button type="submit" class="btn btn-success pull-right">Save</button>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
{% endblock %}
