.container {
  padding-top: 16px;
  max-width: 900px;
}

.page-header {
  margin-top: 0;
  padding-top: 0;
}

.row-vspace {
  margin-top: 8px;
}
.row-vspace2 {
  margin-top: 16px;
}

.header-collapse {
  padding: 0;
  margin: 0;
}

.step {
  padding-right: 8px;
}
.back-step {
  padding-left: 8px;
}

.container-collapse {
  padding-top: 0;
  padding-bottom: 0;
}

.middle-container {
  margin-top: 8px;
  background-color: #f9f9f9;
  padding-top: 8px;
  border-bottom: 1px #e7e7e7 solid;
  border-top: 1px #e7e7e7 solid;
}

.nav-tabs {
  border-bottom: 0;
}

.no-underline:hover {
  text-decoration: none;
}

.remove-link {
  color: #ffffff;
}

table .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

table td {
  padding: 16px;
}

.panel.indent {
  margin-left: 16px;
}

.divider-right {
  border-left: 1px #cccccc solid;
  padding-left: 8px;
  margin-left: 4px;
}

/*
 * Issue Cards
 */
.list-group-item-pin {
  background-color: #f7f7f7;
  margin-bottom: 2px;
}
